<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3563a9;">
    <a class="navbar-brand" href="{% url 'page_asso' %}">
      <img src="{{request.user.page.thumbnail.url}}" width="30" height="30" class="d-inline-block align-top" 
        alt="" style="border-radius: 50%;">
        <b> {{request.user.username}} </b>
    </a>
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto" style="margin-right: 50px;">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'feseul' %}">
            Actualite
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'chat' %}">
            Messages 
            <span class="badge badge-light">
              {{ notifications.count }}
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'annonce' %}">
            Annonce
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'xamxam' %}">
            Xamxam
          </a>
        </li>
        <li class="nav-item dropdown" style="margin-right: 80px;">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{request.user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" href="{% url 'page' %}">Page</a>
            <a class="dropdown-item" href="{% url 'change_password' %}">Editer mots de passe</a>
            
            <div class="dropdown-divider"></div>

            <form action=" {% url 'logout' %}" method="POST" class="dropdown-item text-black-50 text-center">
                {% csrf_token %}
                <input type="submit" value="Deconnexion" class="btn btn-sm btn-danger">
            </form>

          </div>
        </li>
      </ul>
    </div>
</nav>